body{
    background-color: #232946;
    color: white;
}


.figura{
    align-items: center;
    display: block;
    border: 2px solid black;
    padding: 100px;
    width: 15%;
    margin-top: 100px;
    margin-bottom: 100px;
    background-color: #b8c1ec;
    margin-left: 30%;
}

.item{
    width: 4%;
    
    border: 2px #b8c1ec solid;
    border-radius: 75px;
    background-color: #b8c1ec;
}

.producto{
    text-align: left;
  
}
.precio{
    text-align: right;
}
header{
    text-align: center;
 }
 
 nav
 {
     margin-top: 10%;
 }
 nav a{
 
     background-color: #00adb5;
     color: black;
     margin :2%;
     
     font-size: larger;
 }
 nav a:hover{
     background-color: #00fff5;
 }
 .active{
     background-color:white ;
 }